@import url('./w3pro.css');

body{
 font-size:16px;
 /* background-image: url('main-ink-black-wallpaper.jpg'); */
 margin-top: 50px;

 background-color: black;
}
main{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

button{
 padding:0.1rem;
}
button > a{
 all:unset;
}
section{
 display: grid;
 padding:1rem;
 background-color: black;
}
/* footer{
 display: flex;
 justify-content: space-around;

 background-color: black;
} */
/* CSS */
.button-73 {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1rem;
  font-weight: 700;
  /* letter-spacing: -.24px; */
  margin: 0;
  outline: none;
  padding: 1rem 0.5rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.1rem;
    padding: 0.2rem 0.1rem;
  }
}
/* ******************************** */

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* ****************************************************** */


/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

/* ***************************************** */
.footer {
 opacity: 0.5;
 position: fixed;
 height: auto;
 top:0;
 /* bottom: 0px; */
 left: 0px;
 right: 0.2rem;
 margin-bottom: 0;
}
.footer > button{
 font-size: 12px;

}

@media screen and (width>400px)
{
 section{
  grid-template-columns: 1fr 1fr;
 } 
}
@media screen and (width>700px){
 section{
  grid-template-columns: 1fr 1fr 1fr;
 }
}
@media screen and (width>850px){
 section{
  grid-template-columns: 1fr 1fr 1fr 1fr;
 }
}