body {
 font-family: 'Hack', 'Noto Naskh Arabic', serif;
 direction: rtl;
 background-color: burlywood;
}

.header-img {
 width: 50px;
 max-height: 100px;
 flex: 1;
}

.header-link-wrapper {
 flex: 4;
}

.header-link-wrapper>a {
 color: white;

}

 .page-header-wrapper {
  display: flex;
  justify-content: space-evenly;
  color: white;
  flex-wrap: wrap;
  text-decoration: none;
  background-color: teal;
  text-align: center;
  /* font-size: 2rem; */
 }

div.divider{
 width:100%;
 display: block;
 height: 20px;
}

 .sections-wrapper {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  column-gap: 0.2rem;
  row-gap: 0.2rem;
 }

 .section>header {
  text-align: center;
  background-color: blue;
  color: white;
  flex:1;
 }


.section{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-self:center;
}
.section header:hover{
 background-color: teal;
 color:brown;
 font-size: larger;
 height: 100%;
}

.current a{
 background-color: darkgreen;
 color:white;
 padding:1rem;
}

 @media only screen and (max-width:400px) {

  .section{
   flex:100%;
  }
 }
 @media only screen and (min-width:401px){

  .section{
   flex:45%;
  }
 }
 @media only screen and (min-width:800px){

  
  .section{
   flex:15%;
  }
 }
