@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');
@import url('../w3pro.css');

/* menu */
.btns-wrapper {
 position: fixed;
 top: 20px;
 left: 10px;
 padding: 10px 20px;
 border-radius: 10px;
 cursor: pointer;
 transition: 0.3s ease;
 opacity: 0.7;
 order: 1;
 /* box-shadow */
 -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, -34px 11px 26px 1px rgba(0, 0, 0, 0);
 box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, -34px 11px 26px 1px rgba(0, 0, 0, 0);
}

button#home {
 position: sticky;
 bottom: 20px;
 right: 20px;

}

.btns-wrapper .sticky-btn {
 border-radius: 15px;
 background-color: gold;
 color: green;
 font-size: 1.1rem;
 padding: 0 0.5rem;
}

p.counter {
 color: green;
 background-color: white;
}

.counter span {
 color: blue;
}


/* ----- images -------  */

.image-wrapper {
 background-color: whitesmoke;
 width: 90px;
 border: 1px solid brown;
 border-radius: 50px;
}

.image-wrapper>img {
 width: 100%;

}

/* ----- colors/fonts ------- */
body {
 font-family: 'Noto Naskh Arabic', serif;
 background-color: white;
 background-image: url('bg-3.jpeg');
 background-size: contain;
 resize: both;
 padding:1rem 0.6rem;

}



.totals {
 color: yellow;
 padding-right: 6px;
 padding-left: 6px;
}



/* --------- layouts -----------*/

.lesson-wrapper {
 /* color: white; */
 width:100%;


}

.lesson-wrapper>header {
 direction: ltr;

}

.words-container,
.phrases-container {
 display: flex;
 flex-direction: column;
 justify-content: center;


}


.word-wrapper,
.phrase-wrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-top: 1px solid white;

}

.word-wrapper:hover,
.phrase-wrapper:hover {
 background-color: teal;
}



.has-image:hover {
 line-height: 1rem;
}


.word-target,
.word-mother,
.phrase-target,
.phrase-mother {
 padding-inline-start: 0.4rem;
}

.lesson-title {
 font-size: 1.4rem;
 direction: ltr;
 color: white;
}


div[class$="target"] {
 color: yellow;
 font-size: 1.6rem;
}

div[class$="mother"] {
 color: white;
 font-size: 1.6rem;
}

.image-wrapper {
 width: 15%;
}

/* media queries */
/* 
  background-color: rgba(60,255,100,0.4);
  background: linear-gradient(150deg, rgba(150,50,232,1) 0%, rgba(10,123,165,1) 0%, rgba(100,20,10,100) 100%);
  color: #40081a;
  opacity: 0.8;
*/


@media screen and (max-width:420px) {

 .word-wrapper,
 .phrase-wrapper {
  justify-content: space-between;
  align-items: center;
  /* change this for phrases font size */
 }

 .word-wrapper,
 .phrase-wrapper {
  flex: 1 1 100%;
 }

 .word-target,
 .word-mother,
 .phrase-target,
 .phrase-mother {
  flex: 1 1 20%;
 }

 .has-image>.word-target,
 .has-image>.word-mother {
  flex: 2 1 20%;
 }

 .word-wrapper.has-image>.image-wrapper {
  flex: 3 1 20%;
 }
 div.phrase-target,
 div.phrase-mother {

 font-size: 1.1rem;
 background-color: black;
}


 /* .image-wrapper {
  width: 15%;
 } */

}

@media screen and (max-width:700px) {


}

@media screen and (width>700px) {


}