@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');

html {
 font-size: 16px;
 /* margin-left: 10px;
 margin-right: 10px; */
}

/* ----- images -------  */

.image-wrapper {
 background-color: white;
 width: 120px;
 border: 1px solid brown;
 border-radius: 50px;
}

.image-wrapper>img {
 width: 100%;


}

/* ----- colors/fonts ------- */
body {
 font-family: 'Noto Naskh Arabic', serif;
 background-color: white;
 background-image: url('bg-3.jpeg');
 background-size: 90% 400px;
  background-position: left top;
}
.phrase-wrapper,
.word-wrapper {
 border: 1px solid green;
}

.total-words,
.total_phrases {
 color: blue;
 padding-right: 6px;
 padding-left: 6px;
}

/* --------- layouts -----------*/

.lesson-wrapper {
 opacity: 1;
 color: greenyellow;
 font-size: 1.2rem;
}

.lesson-wrapper>header {
 direction: ltr;
 opacity: 0.5;
}

.words-container,
.phrases-container {
 display: flex;
 flex-direction: column;
 flex: 1;

}



/* media queries */


@media screen and (max-width:400px) {
 body {}

 .words-container,
 .phrases-container {}
}

@media screen and (max-width:600px) {
 body {}
}

@media screen and (min-width:800px) {
 body {}

 div[class$="target"] {
  color: yellow;
 }


}