@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');

html {
 font-size: 14px;
 /* margin-left: 10px;
 margin-right: 10px; */
}

/* ----- images -------  */

.image-wrapper {
 background-color: whitesmoke;
 width: 120px;
 border: 1px solid brown;
 border-radius: 50px;
}

.image-wrapper>img {
 width: 100%;


}

/* ----- colors/fonts ------- */
body {
 font-family: 'Noto Naskh Arabic', serif;
 background-color: white;
 background-image: url('bg-3.jpeg');
 background-size: contain;
 resize: both;
 /* background-position: left top; */

}



.totals{
 color: yellow;
 padding-right: 6px;
 padding-left: 6px;
}

div[class$="target"] {
 color: yellow;

}

/* --------- layouts -----------*/

.lesson-wrapper {
 color: white;
}

.lesson-wrapper>header {
 direction: ltr;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.words-container,
.phrases-container {
 display: flex;
 flex-direction: column;

}

.image-wrapper {
 width: 30px;
}

.word-wrapper,
.phrase-wrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-top: 1px solid white;

}

.word-wrapper:hover,
.phrase-wrapper:hover {
 font-size: 1.2rem;
 background-color: teal;
}

.image-wrapper:hover {
 width: 160px;
}

.has-image:hover {
 line-height: 1rem;
}

div[class$="target"] {
 color: yellow;
 font-size: 1.4rem;
}

div[class$="mother"] {
 color: white;
 font-size: 1.4rem;
}
.image-wrapper{
 
}

.word-target,
.word-mother,
.phrase-target,
.phrase-mother {
 padding-right: 0.4rem;
}

.lesson-title {
 font-size: 0.6rem;
 direction: ltr;
}

/* media queries */
/* 
  background-color: rgba(60,255,100,0.4);
  background: linear-gradient(150deg, rgba(150,50,232,1) 0%, rgba(10,123,165,1) 0%, rgba(100,20,10,100) 100%);
  color: #40081a;
  opacity: 0.8;
*/


@media screen and (max-width:450px) {

 .word-wrapper,
 .phrase-wrapper {
  justify-content: space-between;
  align-items: center;
  /* change this for phrases font size */
 }

 .word-wrapper,
 .phrase-wrapper {
  flex: 1 1 100%;
 }

 .word-target,
 .word-mother,
 .phrase-target,
 .phrase-mother {
  flex: 1 1 20%;
 }

 .has-image>.word-target,
 .has-image>.word-mother {
  flex: 2 1 20%;
 }

 .word-wrapper.has-image>.image-wrapper {
  flex: 3 1 20%;
 }
 div[class$="target"] {
  color: yellow;
  font-size: 1.6rem;
 }
 
 div[class$="mother"] {
  color: white;
  font-size: 1.6rem;
 }
 .image-wrapper{
  width:15%;
 }

}

@media screen and (max-width:700px) {
 div[class$="target"] {
  color: yellow;
  font-size: 1.6rem;
 }
 
 div[class$="mother"] {
  color: white;
  font-size: 1.6rem;
 }
 .image-wrapper{
  width:15%;
 }

}

@media screen and (width>700px) {
 div[class$="target"] {
  color: yellow;
  font-size: 2rem;
 }
 
 div[class$="mother"] {
  color: white;
  font-size: 2rem;
 }
 .image-wrapper{
  width:15%;
 }

}