.sticky{
 border:5px solid silver;
 position:fixed;
 top:5px;
 right:10%;
 opacity: 1;
}
nav  ul {
 list-style-type: none;
 display: flex;
 padding: 0.2rem;
 margin: 0;
 background-color: yellow;
}

nav ul li {
 margin: 0 1rem;
 padding:0;
 font-weight: 700;
}

nav a {
 color: black;
 text-decoration: none;
}

nav a:hover {
 text-decoration: underline;
 color:red;

}
.menu-item:hover{
 font-size:1.4rem;
 color:red;
 cursor: pointer;
}