.sticky{
 border:5px solid silver;
 position:sticky;
 top:0px;
 right:0px;
 opacity: 1;
}
nav  ul {
 list-style-type: none;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 padding: 0.2rem;
 margin: 0;
  background-color: yellow;
}


nav a {
 color: black;
 text-decoration: none;
}
.menu-item {
 padding:0;
 border:1px solid black;

}
nav a:hover {
 text-decoration: underline;
 color:red;

}
.menu-item:hover{
 font-size:1.4rem;
 color:red;
 cursor: pointer;
}