@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');
@import url('button-feedback.css');
@import url('button-85.css');

/* @import url('snow.css'); */
/* ---------- */
* {
 box-sizing: border-box;
}
 body {
    overscroll-behavior-y: contain;
 }

body {
 /* min-width: 400px; */
 width: 98vw;
 text-align: center;
 padding: 1rem;
 font-family: 'Noto Naskh Arabic', serif;
 background-image: url(icons/bg-4.png);
 padding: 0;
 margin: 0;
 background-size: contain;
 resize: both;
}

.body-white-theme {
 background-image: none;
 background-size: inherit;
 resize: initial;
}

.page-header {
 background-image: url('../mondly-logo.jpeg');
}


.btn,
.clearfix {
 display: none;
}

body header {
 text-align: center;
 color: #FFFFFF;
 background: #333333;
 text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}


/* -------------------------- */


#media-bar {
 display: flex;
 justify-content: center;
 column-gap: 1rem;
 padding: 10px;
 flex-wrap: wrap;
}

.wrapper {
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 justify-content: center;
 margin-bottom: 1rem;
 border: 1px solid green;
 padding: 0.1rem;
}

.wrapper .audio-no {
 color: green;
}




.btns-wrapper {
 position: fixed;
 top: 20px;
 left: 10px;
 padding: 10px 20px;
 border-radius: 10px;
 cursor: pointer;
 transition: 0.3s ease;
 opacity: 0.7;
 order: 1;
 /* box-shadow */
 -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, -34px 11px 26px 1px rgba(0, 0, 0, 0);
 box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, -34px 11px 26px 1px rgba(0, 0, 0, 0);
}

button#home {
 position: sticky;
 bottom: 20px;
 right: 20px;

}

.btns-wrapper .sticky-btn {
 border-radius: 15px;
 background-color: gold;
 color: green;
 font-size: 1.1rem;
 padding: 0 0.5rem;
}

audio {
 width: 80%;
}

.page-header {
 display: flex;
 flex-direction: column;
}

/* top video player */
.op-player {
 /* height: 30px; */
 width: 90%;
 height: 4em;
 /* max-height: 5rem; */

}


/* ------------------------ */

.target {
 color:yellow;
 border-bottom: 1px solid silver;
 padding-inline-start: 1rem;
}

.mother {
 color:white;
 border-bottom: 1px solid silver;
 padding-inline-start: 1rem;
 /* background-color: azure; */
}

.text {
 border: 1px solid silver;
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.text:hover {
 background-color: blue;
 font-size: larger;
}

.text>.target {
 text-align: right;
 border-left: 1px solid green;
}

.text>.mother {
 text-align: right;
}

.verb-name {
 /* text-align: center; */
 color: white;
 background-color: red;
 border: solid black;
 border-width: 0 3px 3px 0;
 opacity: 0.8;
 display: inline-block;
 margin-top: 2rem;
 padding: 1rem;
 transform: rotate(30deg);
 -webkit-transform: rotate(20deg);
 border-radius: 50%;
 font-size: larger;
}

.verb-name>.inner {
 border: 1px solid green;
}



.verb-titles {
 display: none;
}

.sep {
 display: none;
}

.verb-tenses {

 /* flex-wrap:nowrap; */
}

.tense {
 display: grid;
 grid-template-columns: 2rem 2fr 2fr;
 border: 1px dashed red;
}



.conj.tense-0 {
 background-color: white;
}

.conj.tense-1 {
 background-color: white;
}

.conj.tense-2 {
 background-color: white;
}

.tense img {
 width: 100%;
}

.tense>.target,
.tense>.mother {
 background-color: black;
}

@media screen and (width < 450px) {
 div.btns-wrapper {
  text-align: center;
 }

 div.btns-wrapper .sticky-btn {
  padding: 4px;
  font-size: 1.3rem;
  color: #106DBD;
  
 }
 .feedback{
  font-size: 0.9rem;
 }
 
}



@media screen and (width > 450px) {
 div.btns-wrapper .sticky-btn {
  padding: 10px;
  font-size: 1rem;
  color: blue;
 }

}
@media screen and (width > 800px) {}
