* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

html {
  direction: rtl;
  size: a4;
}
body{
  vertical-align:middle;
  
}
caption{
  color:green;
  font-size:1.5rem;
  border:1px solid black;
}
td,th{
  font-size:1.5rem;
  border:1px solid black;
  text-align:center;
  padding:0;
  line-height:1.4;
}

tr th:nth-child(1),
tr td:nth-child(1){
  widht:20%;
  color:blue;
  font-size:1.3rem;
  
}



tr th:nth-child(2),
tr td:nth-child(2){
  widht:15%;
  color:red;
  font-size:1.2rem;
  padding:0 3px;
  
  
}

tr th:nth-child(3),
tr td:nth-child(3){
  widht:15%;
  color:green;
    text-decoration:double;
  font-size:2rem;
  text-align:center;
  background-color:silver;
  padding:0 5px;
}

tr th:nth-child(4),
tr td:nth-child(4){
  widht:15%;
  color:red;
  font-size:1.2rem;
  padding:0 3px;
}

tr th:nth-child(5),
tr td:nth-child(5){
  widht:15%;
  color:blue;
  font-size:1.2rem;
  padding:0 5px;
}