@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');
body{
 text-align: center;
font-family: 'Noto Naskh Nastaliq',serif;

}
header.page-header{
 width:100%;
 height: auto;
}
.player{
 /* background-color: black; */
 width: 80%;
 height: 400px;
z-index:1500 ; 
font-family: 'Noto Naskh Nastaliq',serif;
}
