@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');
@import url('chapters/w3.css');
@import url('button-44.css');
@import url('tables.css');

body{
 font-family: 'Noto Nash Arabic',serif;
}
#main{
 border: 3px solid gold;
 width: 100%;
 height: fit-content;
 margin-top:3rem;
 background-image: url('black_clouds.avif');
 background-color: white;
 /* text-align:center; */
}



/* colors */
h1{
 color:white;
 
}
h2{
 color:green;
 border:2px solid silver;
}

img{
  width:150px;
  height: 150px;
 }
img.size-full{
 width:250px;
 height: 200px;

}
.w3-table-all td{
 border:1px solid silver;
}

 .c-5-15-80,
.c-5-15-80 thead,.c-5-15-80 tbody {
  display: flex;
  flex-direction: column;
 }
 .c-5-15-80 tr{
  display: grid;
  grid-template-columns: 5% 15% 80%;
 }
 .w3-table-all{
  direction: ltr;
  text-align: center;
 }

 